/target
node_modules/
clients/web/dist/*
!clients/web/dist/.gitkeep
clients/web/test/.protocol.build.mjs
clients/web/test/.config.build.mjs
clients/web/test/.appearance.build.mjs
clients/web/test/.builtin.build.mjs
.superpowers/
clients/web/test/.launchers.build.mjs
clients/web/test/.i18n.build.mjs
